body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#board-container {
  background-color: skyblue;
  padding: 20px;
}
#board-container ul {
  display: flex;
  gap: 50px;
}
#board-container ul#players {
  gap: 20px;
  flex-direction: column;
  padding: 0;
}

#board-container ul#players .active {
  border:  2px solid #fff;
}
#board-container li {
  display: flex;
  gap: 20px;
  padding: 10px;
  width: fit-content;

}

#board-container li input {
  padding: 5px;
  border-radius: 20px;
}

#board {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

#board li ol li > button {
  padding: 20px;
  border: 2px solid slateblue;
  margin: 10px;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#board li ol {
  padding: 0;
}

#gameOver {
  position: absolute;
  background: #fff;
  width: 30%;
  height: 250px;
  padding: 20px;
  left: 21px;
  border-radius: 10px;
  text-align: center;
}


#gameOver button{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: skyblue;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  
}
